<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>My CV</h3>
    <p>Name: R. Azka Ali Fazagani</p>
    <p>Birthdate/place: Bandung, ## February 1998</p>
    <p>Address: Matraman, Jakarta Timur</p>

    <p>Education History:
        <ol>
            <li>Universitas Indonesia, Fakultas Ilmu Komputer</li>
            <li>SMAN 8 Jakarta</li>
            <li>SMP 216 Jakarta</li>
            <li>SD Muhammadiyah 24</li>
        </ol>
    </p>

    <p>My name is Azka. I love to code. But on top of that, I love to sleep, eat 
       and ignore all of my responsibilities.</p>

    <p>

    <p th:if="${visitor}" th:text="${visitor} + ', I hope you interested to hire me.'" >
    <p th:unless="${visitor}" th:text="'This is my CV.'" >
</body>
</html>
